layout {
    background-color "transparent"

    focus-ring {
        active-color   "#a4c8f1"
        inactive-color "#525252"
        urgent-color   "#ff3366"
    }

    border {
        active-color   "#a4c8f1"
        inactive-color "#525252"
        urgent-color   "#ff3366"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#a4c8f1"
        inactive-color "#525252"
        urgent-color   "#ff3366"
    }

    insert-hint {
        color "#a4c8f180"
    }
}

recent-windows {
    highlight {
        active-color   "#0080ff"
        urgent-color   "#ff3366"
    }
}